@import '~bootstrap/scss/bootstrap';

html {
  scroll-behavior: smooth;
}

div.section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

div.static-left {
  position: fixed;
  bottom: 0;
  left: 0;
  align-items: end;
  padding: 1rem;
  padding-bottom: 3rem;
  width: calc(100% / 12);
}

div.static-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-around;
  padding: 1rem;
}

div.project-card {
  cursor: pointer;
  transition: all 0.5s ease;
}

div.project-card:hover {
  transform: scale(1.05);
}

div.blog-carousel {
  height: 400px;
  position: relative;
  background-color: black;
  color: white;

  .carousel-inner,
  .carousel-item {
    height: 100%;
  }

  .featured-blog-item {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

div.blog-nav-well {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black 1px;
  min-height: 3rem;
}

div.author-info {
  background-color: rgb(216, 216, 216);
  margin: 1rem;
  padding: 1rem;
  width: 60%;
}